.body {
    font-family: 'Montserrat', sans-serif;
    background: center / cover no-repeat url("../images/currencies.jpg");
    height: 100vh;
}

.body__container {
    max-width: 500px;
    color: #f0ffff;
    margin: 0 auto;
}


.body__legend {
    color: #000000cf;
    text-align: center;
}