.body {
    font-family: 'Montserrat', sans-serif;
    background: center / cover no-repeat url("../images/currencies.jpg");
    height: 100vh;
}

.body__container {
    max-width: 500px;
    color: azure;
    margin: 0 auto;
}


.body__legend {
    color: rgba(0, 0, 0, 0.811);
    text-align: center;
}